*,*::before,*::after{box-sizing: border-box;}





html,body{   font-family: Baloo;
 margin: 0;
            padding: 0;}
    
    
body { background-image: linear-gradient(#5DA4D9, #FFF);
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: flex-start;
border: 10px solid grey;
height:100vh;
}            
.container{
    flex:1;
    display: flex;
    flex-direction: column;
    margin:auto;
    min-width: 30em;
    }

#emoji-container {
    margin: 2.5em auto;
    text-align: center;
    max-width:20em;}

#emoji-container span {
    margin: 0.625rem;
    font-size: 3.75rem;}

#push-btn, #unshift-btn {
    background-color: #80D87F;}

#shift-btn,#pop-btn {
    background-color: #E23349;}

h1 { letter-spacing: 0.125em ;
    text-align: center;
    color: white;}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 1.875em;
    background: white;
    border-radius: 6px;
    text-align: center;}

button {
    justify-content: center;
    font-family: Baloo;
    background: darkcyan;
    color: white;
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 12em;
    margin: 0 auto;}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.625em 0;}
